<launch>
    <node pkg="robutler_opencv1" type="detector.py" name="detector" output="screen">
        <!-- Download the official weights from the original repo -->
        <param name="weights_path" type="str" value="$(find robutler_opencv1)/dataset/yolo.pt"/>
        <!-- Path to a class_labels.txt file containing your desired class labels. The i-th entry corresponds to the i-th class id. For example, in coco class label 0 corresponds to 'person'. Files for the coco and berkeley deep drive datasets are provided in the 'class_labels/' directory. If you leave it empty then no class labels are visualized.-->
        <param name="classes_path" type="str" value="$(find robutler_opencv1)/dataset/coco80.txt"/>
        <!-- topic name to subscribe to -->
        <param name="img_topic" type="str" value="camera/rgb/image_raw" />
        <!-- topic name for the detection output -->
        <param name="out_topic" type="str" value="yolov7" />
        <!-- confidence threshold -->
        <param name="conf_thresh" type="double" value="0.50" />
        <!-- intersection over union threshold -->
        <param name="iou_thresh" type="double" value="0.40" />
        <!-- queue size for publishing -->
        <param name="queue_size" type="int" value="1" />
        <!-- image size to which to resize each input image before feeding into the
        network (the final output is rescaled to the original image size) -->
        <param name="img_size" type="int" value="640" />
        <!-- flag whether to also publish image with the visualized detections -->
        <param name="visualize" type="bool" value="True" />
        <!-- 'cuda' or 'cpu' -->
        <param name="device" type="str" value="cuda" />
    </node>
</launch>
